.ProductDetails {
   width: 100%;
   padding: 8% 12%;
   box-sizing: border-box; 
}

.MainContainer {
    display: flex;
    width: 100%;
}

.ProductPreview {
    width: 35%;
    height: 400px;
    border-radius: 8px;
    margin-right: 24px;
}

.ProductDataSection{
    width: 45%;
}

.AdSection {
    width: 20%;
}