.ProductDetails {
   width: 100%;
   padding: 8% 12%;
   box-sizing: border-box; 
}

.MainContainer {
    display: flex;
}

.ProductPreview {
    width: 35%;
    border-radius: 8px;
    margin-right: 24px;
}

.MainContainer > div:last-of-type {
    width: 63%;
}